#backgroundImage {
    margin-top: -5px;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

#chatBot_space {
    margin-left: 450px;
    margin-top: 100px;
    position: absolute;
    height: 560px;
    width: 900px;
    background-color: rgba(165, 242, 251,.2);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

h2#header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(0, 255, 26,.3);
    margin-top: -1px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    color: black;
}

#sendButton{
    font-style: italic;
    font-size: 20px;
    color:beige;
    margin-left: -4px;
    height: 52px;
    width: 108px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: blue;
    border: none;

}
#inputSection{
    margin-left: 0px;
    margin-top: 490px;
    background: linear-gradient(beige 50%,blue 50%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#userInput{
    font-size: 20px;
    padding-left: 10px;
    height: 50px;
    width: 780px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: beige;
    border: none;
    outline: none;
   
}

body {
    background-image: url("background_Main.jpg");
    background-size: 100%;
}